body{
    color: white;	font-weight: 300;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	display: flex;	justify-content: center;
	text-align: center;	align-items: center;
	min-height: 95vh;	background-color: #0cbaba;
}
#pasword-generator{
	background-color: #b3237b;    box-shadow: 0 4px 10px #b3237b;
    min-width: 400px;	min-height: 335px;
}
.generated-password{
	padding-top: 5px;	padding-bottom: 5px;
	display: flex;    align-items: center;
    justify-content: center;

	width: 100%;	height: 50px;
	background-color:#771551;
}
.generated-password #box-GP {
	cursor: pointer;	background-color: white;
	padding: 5px;	border-radius: 3px;
	border: 0;
}
.generated-password #box-GP input{
	width: 250px;	cursor: pointer;
}
.generated-password #box-GP button{	cursor: pointer;}
.generated-password input{
	text-align: center;	outline: none;
	width: 200px;	border-radius: 3px;
	border: none;
}
.generated-password button{
	border: 0;	border-radius: 5px;
	padding: 5px;	background-color: #cfcfcf;
}
.form-control{	margin-top: 20px;}
.form-control input{
	text-align: center;	background-color: white;
	padding: 5px;	outline: none;
	border-radius: 3px;	border: none;
	cursor: pointer;
}
.form-control label{
	cursor: pointer;	margin: 10px;
}
#generate-button{
	text-align: center;	outline: none;
	width: 200px;	border-radius: 3px;
	border: none; padding: 10px; 
	cursor: pointer;
}